fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
groq
joblib
scikit-learn==1.3.2
numpy
pandas
python-multipart
email-validator